<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - マイ ASP.NET アプリケーション</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="https://bootstrap-guide.com/">
            Bootstrap4.6
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link active" href="/Home/Index">ホーム</a></li>
                <li class="nav-item">@Html.ActionLink("支出帳", "Input", "Home", null, new { @class = "nav-link active" })</li>
                <li class="nav-item">@Html.ActionLink("収入帳", "Income", "Home", null, new { @class = "nav-link active" })</li>
                <li class="nav-item">@Html.ActionLink("チャットルーム", "Room", "Chat", null, new { @class = "nav-link active" })</li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FPA アプリケーション</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
